<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    {% if list.head %}
    <thead>
    <tr>
        {% for item in list.head %}
        <th class="mdl-data-table__cell--non-numeric">{{item|safe}}</th>
        {% endfor %}
    </tr>
    </thead>
    {% endif %}
    {% if list.rows %}
    <tbody>
    {% for row in list.rows %}
    <tr>
        {% for item in row %}
        <td class="mdl-data-table__cell--non-numeric">{{item|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    {% endif %}
</table>